.btn {
  width: 100%;
  border: 1px solid #000;
  background: none;
  aspect-ratio: 1/1;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.25rem;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}
.btn.active {
  background: var(--color-primary);
  color: #fff;
}
.btn.inactive {
  opacity: 0.3;
}
.btn:hover:not(:disabled),
.btn:focus {
  background-color:  var(--color-light);
}
