/* .nav-link.active {
  color: yellowgreen !important;
} */
.nav-link {
  font-weight: 500;
  letter-spacing: 1pt;
  color: rgb(223 223 223) !important;
}
.navbar {
  max-width: 1140px;
  width: 100%;
  z-index: 2;
  /* background-color: #444; */
}
