.board {
  display: grid;
  grid-template-columns: repeat(9, 0.8fr);
  grid-template-rows: repeat(9, 0.8fr);
  /* border: 2px solid black; */
  width: 400px;
  height: 400px;
  margin-bottom: 30px;
  position: relative;
}
/* .board::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 33%;
  background-color: black;
  z-index: 3;
} */
.hline {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  top: calc(var(--line-index)*34.4%);
  background-color: black;
  z-index: 3;
}
.vline {
  content: '';
  position: absolute;
  width: 3px;
  height: calc(100% + 16px);
  left: calc(var(--line-index)*33.33%);
  background-color: black;
  z-index: 3;
}

.board input {
  width: calc(400px / 9);

  border: 1px solid #cccccc;
  outline: 0;
  box-sizing: border-box;
  font-size: 28px;
  text-align: center;
}

.correct {
  background-color: #f9ffe8;
}
.wrong {
  background-color: #ffebeb;
}