.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  border: 2px solid black;
  width: 600px;
  height: 600px;
}

.board input {
  width: calc(600px / 9);

  border: 1px solid #cccccc;
  outline: 0;
  box-sizing: border-box;
  font-size: 40px;
  text-align: center;
}
